*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #272a2f;
  --secondary-text-color: #fff;
  --primary-bg-color: #121212;
  --secondary-bg-color: #121212;
}

body {
  background: var(--primary-bg-color);
}

h1 {
  color: var(--secondary-text-color);
  font-family: "Beaufort for LOL", serif;
  text-transform: uppercase;
  font-size: 3.5em;
  letter-spacing: 0.1em;
  border-bottom: solid 0.1em white;
}

p {
  color: var(--secondary-text-color);
}

/* header {
  display: grid;
  grid-template-columns: 1fr;
} */

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}

.input {
  text-align: center;
  border-radius: 5em;
}
